
div {
        display: block;
}

li {
       /*display: block; 
       background-color: white;*/
       /*border: 1px solid #F38630;
       border-radius: 15%;*/
}

ul li .inline :hover, ul li .inline :focus {
        color:red;
}

.active {
    background-color:#556677;
}

#header {
	height: 70px;
	background-color: #F38630;
	margin-bottom: 1cm;
	text-align: center;
}
#context {
        width: 90%;
}

#button {
        float: left;
        border: 1px solid black;
        text-align: center;
        background-color: white;
        width: 48%;
}

#input {
        float: left;
        width: 48%;
}

#list {
        float: left;
        /*display: block;*/
        
}

.fader {
        margin-top: 0.1cm;
        height: 15px;
}

.noterow {
        margin-top: 0.1cm;
        height: 35px;
}

.inline {
        display: inline;
        background-color: gray;
}

@media all and (max-width 800px) {
        float: left;
}